<section class="section-cms">
    <div class="navCMS">
        <a class="btnRedirection" href="/admin">Accueil CMS</a>
        <a class="btnDanger" href="/admin/logout">Déconnexion</a>
    </div>
    <div class="section-title">{{title}}</div>
    <div class="separator"></div>
</section>
<section class="formulaire">
    <form action="/admin/edit/{{articles.id}}" method="POST">
        <input type="hidden" value="add">
        <label for="title"><strong>Titre</strong></label> <br>
        <input type="text" name="title" placeholder="Entrer votre titre ici" id="title" value="{{articles.title}}"
            required> <br> <br>
        <label for="img">Image</label><br>
        <select class="selectFilter" name="img" id="img" required>
            <option value="/images/imgArticle/ordiappelold.svg" {{#if_eq articles.img '/images/imgArticle/ordiappelold.svg' }} selected {{/if_eq}}>Vieux PC</option>
            <option value="/images/imgArticle/laptopappel.svg" {{#if_eq articles.img '/images/imgArticle/laptopappel.svg' }} selected {{/if_eq}}>Laptop Apple</option>
            <option value="/images/imgArticle/mamancellenfant.svg" {{#if_eq articles.img '/images/imgArticle/mamancellenfant.svg' }} selected {{/if_eq}}>Mère & enfant</option>
            <option value="/images/imgArticle/femmebureau.svg" {{#if_eq articles.img '/images/imgArticle/femmebureau.svg' }} selected {{/if_eq}}>Femme bureau</option>
            <option value="/images/imgArticle/laptopsurbureau.svg" {{#if_eq articles.img '/images/imgArticle/laptopsurbureau.svg' }} selected {{/if_eq}}>Laptop sur bureau</option>
            <option value="/images/imgArticle/signaturecell.svg" {{#if_eq articles.img '/images/imgArticle/signaturecell.svg' }} selected {{/if_eq}}>Signature sur cell</option>
        </select> <br> <br>
        <label for="category"><strong>Catégorie</strong></label> <br>
        <select class="selectFilter" name="category" id="category" required>
            <option value="Actualites" {{#if_eq articles.category 'Actualites' }} selected {{/if_eq}}>Actualités
            </option>
            <option value="Conseils" {{#if_eq articles.category 'Conseils' }} selected {{/if_eq}}>Conseils</option>
            <option value="Referencement" {{#if_eq articles.category 'Referencement' }} selected {{/if_eq}}>
                Référencement</option>
            <option value="Analytics" {{#if_eq articles.category 'Analytics' }} selected {{/if_eq}}>Analytics</option>
            <option value="Web" {{#if_eq articles.category 'Web' }} selected {{/if_eq}}>Web</option>
        </select> <br> <br>
        <label for="author"><strong>Auteur</strong></label> <br>
        <select class="selectFilter" name="author" id="author" required>
            <option value="William Gauvin" {{#if_eq articles.author 'William Gauvin' }} selected {{/if_eq}}>William
                Gauvin</option>
            <option value="Mathieu Cossette" {{#if_eq articles.author 'Mathieu Cossette' }} selected {{/if_eq}}>Mathieu
                Cossette</option>
            <option value="Hans Bherer" {{#if_eq articles.author 'Hans Bherer' }} selected {{/if_eq}}>Hans Bherer
            </option>
        </select> <br> <br>
        <label for="resum"><strong>Résumé</strong></label> <br>
        <textarea name="resum" id="resum" cols="80" rows="10" required> {{articles.resum}}</textarea> <br> <br>
        <label for="content"><strong>Contenue</strong></label> <br>
        <textarea name="content" id="content" cols="100" rows="30" required> {{articles.content}}</textarea> <br> <br>
        <label for="month"><strong>Mois de rédaction</strong></label> <br>
        <select class="selectFilter" name="month" id="month" required>
            <option value="01" {{#if_eq articles.month '01' }} selected {{/if_eq}}>Janv</option>
            <option value="02" {{#if_eq articles.month '02' }} selected {{/if_eq}}>Févr</option>
            <option value="03" {{#if_eq articles.month '03' }} selected {{/if_eq}}>Mars</option>
            <option value="04" {{#if_eq articles.month '04' }} selected {{/if_eq}}>Avr</option>
            <option value="05" {{#if_eq articles.month '05' }} selected {{/if_eq}}>Mai</option>
            <option value="06" {{#if_eq articles.month '06' }} selected {{/if_eq}}>Juin</option>
            <option value="07" {{#if_eq articles.month '07' }} selected {{/if_eq}}>Juil</option>
            <option value="08" {{#if_eq articles.month '08' }} selected {{/if_eq}}>Août</option>
            <option value="09" {{#if_eq articles.month '09' }} selected {{/if_eq}}>Sept</option>
            <option value="10" {{#if_eq articles.month '10' }} selected {{/if_eq}}>Oct</option>
            <option value="11" {{#if_eq articles.month '11' }} selected {{/if_eq}}>Nov</option>
            <option value="12" {{#if_eq articles.month '12' }} selected {{/if_eq}}>Déc</option>
        </select> <br> <br>
        <label for="content"><strong>Date rédaction</strong></label> <br>
        <input type="date" name="datePublished" id="datePublished" value="{{articles.datePublished}}" required>
        <input id="btnVal2" type="submit" value="soumettre">
    </form>
</section>