<section>
    <h1 class="headline">{{services.title}}</h1>
</section>
<section id="intro">
    <div>
        <article>
            <h3>Processus</h3>
            <p>{{services.content}}</p>
        </article>
    </div>
    <img src="/images/imgPropos/laptop-propos.png" alt="">
    <div>
    </div>
</section>
<section id="licences">
    {{#each licences}}
    <div>
        <div class="licence-card" data-aos="flip-left">
            <h3>{{this.title}}</h3>
            <p>{{this.subTitle}}</p>
            <span data-aos="fade-in" data-aos-delay="200">{{this.prise}}</span>
            <hr>
            <ul>
                <li>{{this.contente1}}</li>
                <li>{{this.contente2}}</li>
                <li>{{this.contente3}}</li>
                <li>{{this.contente4}}</li>
                <li>{{this.contente5}}</li>
            </ul>
            <a href="#" class="cta-secondaire">
                {{this.about}}
            </a>
        </div>
    </div>
    {{/each}}
</section>